.form-disabled textarea.form-xmltext {
    background-color: #eee;
    color: #777;
}

textarea.form-xmltext {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #999 #ccc #ccc;
    border-right: 1px solid #ccc;
    border-style: solid;
    border-width: 1px;
    color: #333;
    padding: 2px;
}

textarea.form-xmltext:focus {
    border-color: #ace;
    color: #000;
}

.xml-field-xml {
    overflow: auto;
    padding: 0;
    font-size: 13px;
    line-height: 1.3;
    background-color: transparent;
}

.xml-field-xml.colorized {
    color: #170;
}

.xml-field-xml.colorized .value {
    color: #000;
}

.xml-field-xml.colorized .attribute {
    color: #00c;
}

.xml-field-xml.colorized .string {
    color: #a11;
}
